body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #050210;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.loader span {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
}

.loader span:nth-child(1) {
    filter: blur(5px);
}

.loader span:nth-child(2) {
    filter: blur(10px);
}

.loader::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #050210;
    animation: loader-circle-43-pulse 2s 1s infinite linear;
    border-radius: 50%;
}

#pulse {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
    background-color: #130b35;
    z-index: 10;
    opacity: 0.5;
}

@keyframes pulse {
    0% {
        transform: scale(0%);
    }

    100% {
        transform: scale(100%);
    }
}